*~
*.swp
*.swo
values-secret*
.*.expected.yaml
pattern-vault.init
vault.init
/ansible/execution_environment/context/_build/*
pattern-vault.init.bak
super-linter.log
.vscode
__pycache__/
tests/ci/.results/
tests/ci/.pytest_cache/
