---
clusterGroup:
  name: hub
  isHubCluster: true

  namespaces:
    - vault
    - golang-external-secrets
    - ansible-automation-platform
    - openshift-cnv
    - openshift-storage
    - edge-gitops-vms

  subscriptions:
    aap-operator:
      name: ansible-automation-platform-operator
      namespace: ansible-automation-platform
      channel: stable-2.4

    openshift-virtualization:
      name: kubevirt-hyperconverged
      namespace: openshift-cnv

    openshift-data-foundation:
      name: odf-operator
      namespace: openshift-storage

  projects:
    - hub

  imperative:
    jobs:
      - name: deploy-kubevirt-worker
        playbook: ansible/deploy_kubevirt_worker.yml
        verbosity: -vvv
      - name: clean-golden-images
        playbook: ansible/odf_clean_pvcs.yml
        image: quay.io/hybridcloudpatterns/utility-container:latest
        verbosity: -vvv
      - name: configure-aap-controller
        playbook: ansible/imperative_configure_aap.yml
        image: quay.io/hybridcloudpatterns/utility-container:latest
        verbosity: -vvv
        timeout: "900"
    clusterRoleYaml:
      - apiGroups:
          - "*"
        resources:
          - machinesets
          - persistentvolumeclaims
          - datavolumes
        verbs:
          - "*"
      - apiGroups:
          - "*"
        resources:
          - "*"
        verbs:
          - get
          - list
          - watch

  applications:
    aap:
      name: ansible-automation-platform
      project: hub
      path: charts/hub/ansible-automation-platform

    aap-config:
      name: aap-config
      project: hub
      path: charts/hub/aap-config

    vault:
      name: vault
      namespace: vault
      project: hub
      chart: hashicorp-vault
      chartVersion: 0.1.*

    golang-external-secrets:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: hub
      chart: golang-external-secrets
      chartVersion: 0.1.*

    openshift-cnv:
      name: openshift-cnv
      namespace: openshift-cnv
      project: hub
      path: charts/hub/cnv

    odf:
      name: odf
      namespace: openshift-storage
      project: hub
      chart: openshift-data-foundations
      chartVersion: 0.1.*
      extraValueFiles:
        - '$patternref/overrides/values-odf-chart.yaml'

    edge-gitops-vms:
      name: edge-gitops-vms
      namespace: edge-gitops-vms
      project: hub
      path: charts/hub/edge-gitops-vms
      extraValueFiles:
        - '$patternref/overrides/values-egv-vms.yaml'
        - '$patternref/overrides/values-egv-{{ $.Values.global.clusterVersion }}.yaml'

  # Only the hub cluster here - managed entities are edge nodes
  managedClusterGroups: []
