clusterGroup:
  name: hub
  isHubCluster: true
  namespaces:
    - ansible-edge-gitops
    - vault
    - golang-external-secrets
    - ansible-automation-platform
    - openshift-cnv
    - openshift-storage
    - edge-gitops-vms
    - aap-config
  projects:
    - hub
  subscriptions:
    aap-operator:
      name: ansible-automation-platform-operator
      namespace: ansible-automation-platform
      channel: stable-2.5
    openshift-data-foundation:
      name: odf-operator
      namespace: openshift-storage
    openshift-virtualization:
      name: kubevirt-hyperconverged
      namespace: openshift-cnv
      channel: stable
  applications:
    aap:
      name: ansible-automation-platform
      namespace: ansible-automation-platform
      project: hub
      chart: ansible-automation-platform-instance
      chartVersion: 0.1.*
    aap-config:
      name: aap-config
      namespace: aap-config
      project: hub
      chart: aap-config
      chartVersion: 0.1.*
      extraValueFiles:
        - $patternref/overrides/values-aap-config-aeg.yaml
    edge-gitops-vms:
      name: edge-gitops-vms
      namespace: edge-gitops-vms
      project: hub
      chart: edge-gitops-vms
      chartVersion: 0.2.*
      extraValueFiles:
        - $patternref/overrides/values-egv-vms.yaml
    golang-external-secrets:
      name: golang-external-secrets
      namespace: golang-external-secrets
      project: hub
      chart: golang-external-secrets
      chartVersion: 0.1.*
    odf:
      name: odf
      namespace: openshift-storage
      project: hub
      chart: openshift-data-foundations
      chartVersion: 0.2.*
      extraValueFiles:
        - $patternref/overrides/values-odf-chart.yaml
    ensure-openshift-console-plugins:
      name: ensure-openshift-console-plugins
      namespace: openshift-console
      project: hub
      chart: ensure-openshift-console-plugins
      chartVersion: 0.1.*
      extraValueFiles:
        - '$patternref/overrides/values-console-plugins.yaml'
    openshift-cnv:
      name: openshift-cnv
      namespace: openshift-cnv
      project: hub
      chart: openshift-virtualization-instance
      chartVersion: 0.1.*
    vault:
      name: vault
      namespace: vault
      project: hub
      chart: hashicorp-vault
      chartVersion: 0.1.*
  imperative:
    clusterRoleYaml:
      - apiGroups:
          - '*'
        resources:
          - persistentvolumeclaims
          - datavolumes
          - dataimportcrons
          - datasources
        verbs:
          - '*'
      - apiGroups:
          - '*'
        resources:
          - '*'
        verbs:
          - get
          - list
          - watch
    jobs:
      - name: clean-golden-images
        playbook: ansible/odf_fix_dataimportcrons.yml
        verbosity: -vvv
  managedClusterGroups: {}
