global:
  xraylab:
    namespace: "xraylab-1"
  datacenter:
    storageClassName: gp2
    region: us-east-1

odf:
  namespace: openshift-storage
  serviceUrl: "http://rook-ceph-rgw-ocs-storagecluster-cephobjectstore.openshift-storage.svc.cluster.local"
  externalUrl: "https://s3-rgw-openshift-storage"
  targetBucket: com.redhat.jrickard.xray-source
  mon:
    requests:
       cpu: 1
       memory: 2Gi
  mds:
    requests:
      cpu: 3
      memory: 8Gi
  mgr:
    requests:
      cpu: 1
      memory: 3Gi
  noobaacore:
    requests:
      cpu: 1
      memory: 4Gi
  noobaadb:
    requests:
      cpu: 1
      memory: 4Gi
  osd:
    requests:
      cpu: 2
      memory: 5Gi
    pvc:
      storage: 2Ti
  storageClass:
    name: ocs-storagecluster-ceph-rgw
    objectStoreName: ocs-storagecluster-cephobjectstore

route:
  name: s3-rgw
  service:
    name: rook-ceph-rgw-ocs-storagecluster-cephobjectstore
    weight: 100
  port:
    targetPort: http

toolbox:
  name: ocsinit
  enableCephTools: true

#Define the odf storageSystem parameters
storageSystem:
  deploy: false
  name: ocs-storagecluster-storagesystem
  namespace: openshift-storage
  spec:
    kind: storagecluster.ocs.openshift.io/v1
    name: ocs-storagecluster
    namespace: ""

#RoleBasedAccessControl
serviceAccountName: odf-node-label-sa
rbac:
  roles:
    - name: label-storage-nodes
      createRole: true
      apiGroups:
        - '""'
      scope:
        cluster: true
      resources:
        - nodes
      verbs:
        - "get"
        - "list"
        - "patch"
        - "update"
  roleBindings:
    - name: label-storage-nodes
      createBinding: true
      scope:
        cluster: true
        namespace: ""
      subjects:
        kind: ServiceAccount
        name: odf-node-label-sa
        namespace: openshift-storage
        apiGroup: ""
      roleRef:
        kind: ClusterRole
        name: label-storage-nodes

job:
  image: image-registry.openshift-image-registry.svc:5000/openshift/cli:latest
